<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Basic Lab</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>When a Pandemic is a Blessing in Disguise</h2>
        <p>My name is Norberto and this is my coder journey!</p>
    </body>
</html>